.carousel.img {
    width: 100%;
    height: 100vh;
}

/*Animações pra testar no site, quero fazer fade in e slide no js base */

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
