/* _content/SEJA_WepApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#titulo[b-gbr63wa02j] {
  font-size: 100px;
}

a.navbar-brand[b-gbr63wa02j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gbr63wa02j] {
  color: #317186;
}

.btn-primary[b-gbr63wa02j] {
  color: #F7f7f7;
  background-color: #317186;
  border-color: #317186;
}


.navbar[b-gbr63wa02j] {
  background-color: #F9DF4B !important;
  border-bottom: 1px solid #333333;
}

.navbar-nav[b-gbr63wa02j] {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.nav-pills .nav-link.active[b-gbr63wa02j], .nav-pills .show > .nav-link[b-gbr63wa02j] {
  color: #F7f7f7;
  background-color: #317186;
  border-color: #317186;
}

.border-top[b-gbr63wa02j] {
  border-top: 1px solid #F7f7f7;
}
.border-bottom[b-gbr63wa02j] {
  border-bottom: 1px solid #F7f7f7;
}

.box-shadow[b-gbr63wa02j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gbr63wa02j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gbr63wa02j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.container[b-gbr63wa02j] {
    max-width: 85%;
    padding-left: 10px;
    padding-right: 10px;
}

footer[b-gbr63wa02j] {
  background-color: #F9DF4B;
}
